.container {
  width: 100%;
  max-width: 100vh;
  margin: auto;
}

.container-fluid {
  position: absolute;
  display: block;
  margin: auto;
  top: 20px;
  left: 110px;
  width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  max-width: 85%;
  background: #fff;
  padding: 15px;

}
